# Eclipse stuff
/.classpath
/.project
/.settings
/eclipse

# Mac filesystem dust
/.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

# various other potential build files
/build
/target
/bin
/release
/agitar
/dist
/manifest.mf

# other
.gradle/
.vscode/
